doctype html
html
  head
    title= title
  body
    h1= title
    a(href="/update-cobj") Add a new Pet
    table(border="1")
      thead
        tr
          th Name
          th Bio
          th Type
      tbody
        each record in records
          tr
            td= record.properties.name
            td= record.properties.bio
            td= record.properties.type
