doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    h1= title
    a.button(href="/update-cobj") Add New Pet
    table
      thead
        tr
          th ID
          th Name
          th Type
          th Bio
      tbody
        each record in records
          tr
            td= record.id
            td= record.properties.name
            td= record.properties.type
            td= record.properties.bio
